# Node.js関連
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-lock.yaml
package-lock.json
yarn.lock

# Next.js ビルド関連
.next/
out/
build/

# 環境変数
.env*
!.env.example

# OS/エディタ関連
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# 静的解析・テスト関連
coverage/
jest.config.js
cypress/
playwright/